<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css">
    <script src="https://use.fontawesome.com/326dbd40fd.js"></script>
    <title>Все для программиста!</title>
</head>
<body>
    <div class='container'>
        <p>Это первая строка! Logo. Welcome string</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск по сайту">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
                
              </button>
            </div>
        </div>
      
        <!-- <div class="row bg-dark text-white pt-3">
            <div class="col-sm-6">Найти</div>
            <div class="col-sm-6">Добавить</div>            
          </div> -->
    
    {% block page_content %}{% endblock %}
</div>
</body>
</html>