{% extends "main.html" %}
{% block page_content %}
<div class="row pt-5">Категории</div>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">HTML/CSS
            <span class="badge badge-primary badge-pill">50</span>
        </li>
        
        <li class="list-group-item">Javascript
            <span class="badge badge-primary badge-pill">50</span>
        </li>
        <li class="list-group-item">Python
            <span class="badge badge-primary badge-pill">50</span>
        </li>
        <li class="list-group-item">Java
            <span class="badge badge-primary badge-pill">50</span>
        </li>
      </ul>
</div>
{% endblock %}